# BUDS Report 09: Row Filtering

### Table of Contents

1.  <a href='#section 1'>Filtering with `where`</a>
    
2. <a href='#section 2'>Filtering with `take`</a>

3. <a href='#section 3'>Visualizations</a>

4. <a href='#section 4'>More Questions</a>

5. <a href='#section 5'>One Last Look at the CES Data</a>

In [1]:
# run this cell

from datascience import *
import numpy as np
import math
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")
%matplotlib inline

### The Data <a id='data'></a>

Let's continue to work with the US census data, again just looking at years 2010 and 2014.

As a reminder, the "SEX" column contains numeric codes: `0` stands for the total, `1` for male, and `2` for female. The "AGE" column contains ages in completed years, but the special value `999` is a sum of the total population. The combination of SEX = `0` and AGE = `999` tells us that the corresponding row has the data for all sexes and all ages.

In [2]:
# a local copy can be accessed here in case census.gov moves the file:
# data = path_data + 'nc-est2015-agesex-res.csv'
data = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2015/national/asrh/nc-est2015-agesex-res.csv'

# these repeat some steps that were done in Report 08
full_census = Table.read_table(data)
partial_census = full_census.select('SEX', 'AGE', 'POPESTIMATE2010', 'POPESTIMATE2014')
us_pop = partial_census.relabeled('POPESTIMATE2010', '2010').relabeled('POPESTIMATE2014', '2014')
us_pop.sort('AGE')

SEX  | AGE  | 2010    | 2014
0    | 0    | 3951330 | 3949775
1    | 0    | 2018420 | 2020326
2    | 0    | 1932910 | 1929449
0    | 1    | 3957888 | 3949776
1    | 1    | 2020332 | 2018401
2    | 1    | 1937556 | 1931375
0    | 2    | 4090862 | 3959664
1    | 2    | 2088685 | 2023673
2    | 2    | 2002177 | 1935991
0    | 3    | 4111920 | 4007079
... (296 rows omitted)

## 1. Filtering with `where`  <a id='section 1'></a>

Often times, we only want to analyze a certain subset of our data at a time.

For example, let's filter our data to only look at the population counts of males.

<div class="alert alert-warning">
    <b>PRACTICE:</b> First, write down what the table's numeric code for the male population is. Then, assign <code>male_pop</code> to a table with the male subset of our data.
    </div>

_Written Answer:_

In [3]:
...

Ellipsis

As we can see in the table above, we've chosen only a subset of the rows of the original table -- specifically the rows corresponding to male census participants.

In the following Markdown cell, translate the code you wrote into a regular English statement that both describes what you're doing and uses the variable names and function names in it.

_Written Answer:_

<div class="alert alert-warning">
    <b>PRACTICE:</b> Now select only the rows corresponding to the female population.
   </div>

In [4]:
female_pop = ...
female_pop

Ellipsis

A special feature of `are.equal_to(...)` is that it is the default predicate for `tbl.where(...)`. This means if we write a `where` expression without writing `are.equal_to(...)`, then it would work as if it was there.

Here is an example. We can assign the name `ten_yr_males` to a table whose rows are the rows in the `male_pop` table `where` the AGEs `are` `equal` `to` `10`.

In [5]:
ten_yr_males = male_pop.where("AGE", 10)
ten_yr_males

NameError: name 'male_pop' is not defined

In [ ]:
# this works the same when we include are.equal_to(...)
male_pop.where("AGE", are.equal_to(10))

### `where` <a id='subsection 1a'></a>

Now let's dive into the details a bit more.  `where` takes 2 arguments:

1. The name of a column.  `where` finds rows where that column's values meet some condition.
2. A predicate that describes the condition that the column needs to meet.

The predicate in the examples above called the predicate `are.equal_to` with the values we wanted, 1 (or 2).  We'll see other predicates next.

`where` returns a table that's a copy of the original table, but **with only the rows that meet the given predicate**.

So far we've only been using `where` with the predicate that requires finding the values in a column to be *exactly* equal to a certain value. However, there are many other predicates. Here are a few:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.equal_to`|`are.equal_to("hello")`|Find rows with values equal to "hello"|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|
|`are.containing`| `are.containing("i")`| Find rows with string values that contain the letter i.

You can find a few more in the [Python reference sheet](http://data8.org/su22/python-reference.html).

Let's go back to the census data.

<div class="alert alert-warning">
    <b>PRACTICE:</b> Display the census data such that the largest ages appear first.
    </div>

In [ ]:
...

<div class="alert alert-warning">
    <b>PRACTICE:</b> Remember the numerical code 999 stands for total (across all ages), but let's say we're only interested in specific ages (NOT their total). We could do another <code>where(...)</code> to accomplish this. Try doing so in the next cell and assigning this table to the variable <code>pop_by_age</code>. It should look similar to the previous table but without the rows with ages 999.
    </div>

In [ ]:
...

<div class="alert alert-warning">
    <b>PRACTICE:</b> Write some code to only select population counts corresponding to males and females (but not their totals). Remember, in the "SEX" column, 0 represents a total. Assign this to the name <code>both_sexes</code>.
   </div>

In [ ]:
...

<div class="alert alert-warning">
    <b>PRACTICE:</b> One of the nice things about code is that there are several ways of doing something. Write another <code>where</code> expression which will do the same thing as the above cell. Use a different predicate.
   </div>

In [ ]:
...

<div class="alert alert-warning">
    <b>PRACTICE:</b> Once again, try creating the same table by using a different predicate.
   </div>

In [ ]:
...

These are all different ways to write the same expression. Some predicates are used more often than others, but there is no added benefit to using a specific predicate in the situation above. They all work the same. The only benefit would be less typing for shorter predicates. 

<div class="alert alert-warning">
    <b>PRACTICE:</b> Why does this code not produce the same table as the others above?
    </div>

In [ ]:
pop_by_age.where("SEX", are.equal_to(1)).where("SEX", are.equal_to(2))

_Written Answer:_

## 2. Filtering with `take` <a id='section 2'></a>

<div class="alert alert-warning">
    <b>PRACTICE:</b> Let's combine what we did above to remove totals of ages and of sex and only look at the year 2014. This table should have information on both males and females of all ages in the year 2014. Try it in the cell below.
    </div

In [ ]:
us_pop_2014 = ...
us_pop_2014_sorted = ...
us_pop_2014_sorted

Remember, `tbl.take()` allows us to specify which row numbers of the above table we want to look at. Each row has an index like an array, which is the numbers we reference inside of `take(...)`

In [ ]:
# run this cell
us_pop_2014_sorted.take(0)

This lets us look at just the first row of the table. (Remember, row numbers start with 0!)

<div class="alert alert-warning">
    <b>PRACTICE:</b> Fill in the blanks to only select population counts corresponding to males and females between ages 98 and 100.
    </div>
    
*Hint:* how many rows of the above table do we want?

In [ ]:
seniors_2014 = us_pop_2014_sorted.take(np.arange(..., ...))
seniors_2014

Another way to write this code is to use where. See the below code cells and notice that we don't need our table to be sorted.

In [ ]:
seniors_2014 = us_pop_2014_sorted.where("AGE", are.between(98, 101)) 
seniors_2014

In [ ]:
seniors_2014 = us_pop_2014.where("AGE", are.between(98, 101))
seniors_2014 = seniors_2014.sort("AGE", descending=True)
seniors_2014

Depending on the situation, one of these methods may be better than others. When would you prefer to use `where` and when would you prefer to use `take`?

_Written Answer:_

## 3. Visualizations  <a id='section 3'></a>

To understand how our data really looks, it would be easier to create a visualization using this table. Let's compare "AGE" to the population in 2014.

Are these columns categorical variables? Numerical variables? How can you tell?

_Written Answer:_

Based on your answer, what kind of visualization would be best for this data?

_Written Answer:_

<div class="alert alert-warning">
    <b>PRACTICE:</b> Create this visualization in the cell below.
    </div>

In [ ]:
...

What do you notice about this visualization?

_Written Answer:_

How does your visualization compare to the table called `seniors_2014`?

_Written Answer:_

## 4. More Questions on `where` and Strings:  <a id='section 4'></a>

If our original table had sex represented as text or a string, then we would have to use a different where expression to choose between males and females.

In [ ]:
# this code adds the string version of sex in a new column

fem_str = female_pop.with_column("SEX (str)" ,"female")
male_str = male_pop.with_column("SEX (str)" , "male")

str_sex = fem_str.with_rows(male_str.rows).sort('AGE', descending=True)
str_sex

Let's try to only get rows with females. There are multiple ways to do this.

<div class="alert alert-warning">
    <b>PRACTICE:</b> Try doing so with <code>are.equal_to(...)</code>.
    </div>

In [ ]:
...

<div class="alert alert-warning">
    <b>PRACTICE:</b> Now do so without writing a predicate at all.
    </div>

In [ ]:
...

<div class="alert alert-warning">
    <b>PRACTICE:</b> In this next cell, use the predicate <code>are.containing(...)</code>.
    </div>

In [ ]:
...

<div class="alert alert-warning">
    <b>PRACTICE:</b> See if you can come up with another way to create the table above using <code>are.below(...)</code>.
    </div>

In [ ]:
...

<div class="alert alert-warning">
    <b>PRACTICE:</b> Finally, create this table with <code>are.not_equal_to(...)</code>.
    </div>

In [ ]:
...

## 5. One Last Look at the CES Data <a id='section 5'></a>

In order to show an application of `where`, let's take a look at the familiar CalEnviroScreen data set.

Run the following cell to get our table.

In [ ]:
ces_data = Table.read_table("ces_data_v2.csv")

# this does a bit of data cleaning
# don't worry about understanding these next few lines of code
for i in np.arange(ces_data.num_columns):
    if i != 3 and i != 11:
        ces_data = ces_data.where(i, are.above_or_equal_to(0))
ces_data

Look at a specific county or group of counties. This is similar to what was done for you in previous notebooks, but try doing it on your own here.

In [ ]:
...

Now that you have access to a table of one county's data, check that its data are **consistent**.

<div class="alert alert-warning">
    <b>PRACTICE:</b> The total population of each tract should be equal to the sum of the total populations of each race. Complete the multi-step process to ensure that your county's data is clean. Find the total population of the county, then the total Hispanic population of the county, etc. Then, assign <code>good_percentages</code> to a boolean statement that determines whether our data is clean or not. To do so, you can compare <code>pop</code> to <code>all_races</code> using <code>math.isclose(...)</code>. Read the documentation by running the next cell and clicking <b><code>Shift + Tab</code></b>.

Allow for the count to be off by 3 people (ie. if <code>pop</code> is 45 people and <code>all_races</code> is 48 people, <code>good_percentages</code> should evaluate to True.
    </div>

In [ ]:
math.isclose(1, 1)

In [ ]:
pop = ...

hisp = ...
white = ...
black = ...
native = ...
asian = ...
other = ...
all_races = ...

good_percentages = ...
good_percentages

Let's go back to the original census data.

<div class="alert alert-warning">
    <b>PRACTICE:</b> Create an array that contains which counties have a population tract of 5000 people or larger and a CalEnviroScreen score that's larger than 76. The items in the array should be listed in alphabetical order with unique county names appearing only once. 
    
If you're getting stuck, try breaking this problem down into multiple steps.
    </div>

In [ ]:
...

Here's a more challenging question. Feel free to discuss it with your fellow interns and your group facilitators.

<div class="alert alert-warning">
    <b>PRACTICE:</b> 76 was an arbitrary choice for the CalEnviroScreen score. Let's instead find what CalEnviroScreen score is greater than about 95% of the other CES scores (and therefore less than about 5% of the CES scores).
    
If we know that <code>ces_data</code> has 7711 census tracts, how many census tracts make up about 95% of the data? Round to the nearest integer and use that number to find the answer to this question.
    
If we sort ten items in ascending order and take the 3rd item (in index 2), how many items are greater than it? If we sort those same ten items in *descending* order and take the 3rd item (in index 2), how many items are greater than it?
    </div>

_Written Answer:_

In [ ]:
abt_95_pct = ...
index = ...

tract_at_95_pct = ...
ces_at_95_pct = ...
ces_at_95_pct

### Downloading as PDF

Download this notebook as a pdf by clicking <b><code>File > Download as > PDF via LaTeX</code></b>. Turn in the PDF into bCourses under the corresponding assignment.

## Bibliography

- John Denero - Data 8X, Census: Males and Females. https://www.youtube.com/watch?v=SAJavz58uHk&feature=youtu.be
- Data 8 Spring 2020 - Lab 02. http://data8.org/sp20/
---
Notebook developed by: Alleanna, Ashley, Pratibha

Data Science Modules: http://data.berkeley.edu/education/modules